@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.box-6_AllProducts{
    z-index: 800;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;

    .product_card{
      min-width: 35%;
      width: 35%;
      min-height: 100vh;
      overflow: scroll;
      height: 100vh;
      position: absolute;
      margin: auto;
      background-color: #8edeec;
      padding: 1rem 0.5rem;


      .back_button{
        position: relative;
        top:2%;
        left: 5%;
    
        a{

            text-decoration: none;
            outline: none;
            border: transparent;
            background-color: royalblue;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: 5px;
            padding: 5px 10px;
            font-size: 1rem;
            font-weight: 550;
            letter-spacing: 1px;
            width: 100px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }
    
    }
      .Product_card_title{
        position: relative;
 margin: 1rem auto;
 display: flex;
 align-items: center;
 justify-content: center;

 p{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;

  &::after{
    content: '';
    width: 50%;
    background-color: #753422;
    height: 4px;
    border-radius: 5px;
    display: block;
    margin: 5px auto;

  }
 }
      }

      .products{
        padding: 10px 0rem;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        grid-column-gap:1rem;
        grid-row-gap: 1rem;
        
       
margin: 1rem auto;
        .product_item{
          padding: 10px 0.5rem;
          background-color: #f3f3f3;
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          height: 280px;
          max-height: 280px;

      img{
        width: 250px;
        height: 150px;
        object-fit: cover;
        object-position: center;
      }
      p{
        font-size: 1rem;
        font-weight: 550;
      }
      small{
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
        color: rgb(61, 60, 60);
      }
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 50%;
        padding: 5px;
        border: transparent;
        outline: none;
        cursor: pointer;
        background-color: #613d34;
        border-radius: 0.5rem;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 400;

        &:hover{
          filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
        }
      }
        }

   
        @media screen and (max-width:900px){
          grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
          overflow: scroll;
        }
      }

      &::-webkit-scrollbar{
        display: none;
      }

      @media screen and (max-width: 900px) {
        min-width: 80%;
        width: 80%;
       height: 100vh;
       
      }
      @media screen and (max-width: 700px) {
        min-width: 90%;
        width: 90%;
       height: 100vh;
        
      }
      @media screen and (max-width: 650px) {
        min-width: 100%;
        width: 100%;
        height: 100vh;
        border: 0px solid white;
        border-radius: 10px;
      }
    }
  }