@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.newCard_design_container {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  font-family: "Poppins", sans-serif;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  position: relative;

  .card_design_box {
    min-width: 35%;
    width: 35%;
    min-height: 500vh;
    height: auto;
    overflow: hidden;
    position: absolute;
    background-color: #f1f1f1;


    .banner{
        width: 100%;
        max-height: 30vh;
        height: 30vh;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
       
        }

        svg{
            position: relative;
  
            width: 100%;
            z-index: 500;
          
        }

    }

    @media screen and (max-width: 900px) {
      min-width: 80%;
      width: 80%;
      min-height: 100vh;
      height: auto;
    }
    @media screen and (max-width: 700px) {
      min-width: 90%;
      width: 90%;
      min-height: 100vh;
      height: auto;
    }
    @media screen and (max-width: 650px) {
      min-width: 100%;
      width: 100%;
      min-height: 100vh;
      height: auto;
      border: 0px solid white;
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}





          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,700 L 0,0 C 119.77033492822966,88.42105263157896 239.54066985645932,176.84210526315792 341,179 C 442.4593301435407,181.15789473684208 525.6076555023925,97.05263157894734 604,145 C 682.3923444976075,192.94736842105266 756.0287081339713,372.94736842105266 847,383 C 937.9712918660287,393.05263157894734 1046.2775119617224,233.1578947368421 1148,141 C 1249.7224880382776,48.8421052631579 1344.8612440191387,24.42105263157895 1440,0 L 1440,700 L 0,700 Z");
            }
            25%{
              d: path("M 0,700 L 0,0 C 103.13875598086125,149.55023923444975 206.2775119617225,299.1004784688995 297,326 C 387.7224880382775,352.8995215311005 466.02870813397135,257.14832535885165 569,201 C 671.9712918660287,144.85167464114835 799.6076555023924,128.3062200956938 898,133 C 996.3923444976076,137.6937799043062 1065.5406698564593,163.6267942583732 1151,145 C 1236.4593301435407,126.3732057416268 1338.2296650717703,63.1866028708134 1440,0 L 1440,700 L 0,700 Z");
            }
            50%{
              d: path("M 0,700 L 0,0 C 107.48325358851676,46.583732057416256 214.96650717703352,93.16746411483251 309,164 C 403.0334928229665,234.8325358851675 483.61722488038276,329.9138755980861 582,350 C 680.3827751196172,370.0861244019139 796.5645933014355,315.17703349282294 892,272 C 987.4354066985645,228.82296650717706 1062.1244019138755,197.377990430622 1150,154 C 1237.8755980861245,110.622009569378 1338.9377990430621,55.311004784689 1440,0 L 1440,700 L 0,700 Z");
            }
            75%{
              d: path("M 0,700 L 0,0 C 124.2870813397129,167.7224880382775 248.5741626794258,335.444976076555 341,381 C 433.4258373205742,426.555023923445 493.9904306220096,349.94258373205747 574,321 C 654.0095693779904,292.05741626794253 753.4641148325359,310.78468899521533 854,317 C 954.5358851674641,323.21531100478467 1056.153110047847,316.91866028708137 1154,262 C 1251.846889952153,207.08133971291866 1345.9234449760766,103.54066985645933 1440,0 L 1440,700 L 0,700 Z");
            }
            100%{
              d: path("M 0,700 L 0,0 C 119.77033492822966,88.42105263157896 239.54066985645932,176.84210526315792 341,179 C 442.4593301435407,181.15789473684208 525.6076555023925,97.05263157894734 604,145 C 682.3923444976075,192.94736842105266 756.0287081339713,372.94736842105266 847,383 C 937.9712918660287,393.05263157894734 1046.2775119617224,233.1578947368421 1148,141 C 1249.7224880382776,48.8421052631579 1344.8612440191387,24.42105263157895 1440,0 L 1440,700 L 0,700 Z");
            }
          }