  //Form8 QRCode ::after
  .Form9_container {
    position: absolute;
    left: 0%;
    min-width: 40%;
    width: 40%;
    min-height: 100%;
    height: 100%;
    margin: 10px;
    // background-color: aqua;
    padding: 0rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 100%;
      height: auto;
      background-color: #7edcf396;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      padding: 1rem 0.5rem;
      border-radius: 0.2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      grid-column-gap: 15px;
      .edit_form {
        position: absolute;
        right: 6%;
        top: 7%;
        z-index: 600;

        img {
          cursor: pointer !important;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          padding: 5px;
          transition: all 0.4s ease-in-out;

          &:hover {
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
            transition: all 0.4s ease-in-out;
          }
        }
      }
      .form_group {
        width: 100%;
        margin: 5px auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          font-weight: 600;
          color: rgb(27, 27, 27);
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;

          p{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }
          .QRCodeImage {
            margin: 10px auto;

            min-width: 250px;
            width: 250px;
            min-height: 150px;
            height: 150px;
            border-radius: 1rem;
            object-fit: cover;
            object-position: center;

            cursor: pointer;
          }
          .upload {
            position: absolute;
            top: 15%;
            cursor: pointer;
            right: 40%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
        }

        input[type="file"] {
          display: none;
        }

        input,
        textarea {
          min-width: 100%;
          width: 100%;
          border: transparent;
          padding: 15px 1rem;
          outline: none;
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
          margin: 0.2rem auto;
          border-radius: 5px;
          // border: 1px solid rgb(255, 255, 255);
          caret-color: rgb(105, 88, 255);
          &::placeholder {
            font-size: 0.7rem;
            color: #222429;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;

        button {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          outline: none;
          border: transparent;
          background-color: #79be3f;
          padding: 8px 1rem;
          border-radius: 1rem;
          font-weight: 500;
          font-size: 0.9rem;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
        width: 98%;
      }
    }
    .qrcode_list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 10px 2rem;

      width: 100%;
      background-color: rgb(158, 240, 185);
      position: relative;
      margin: 10px auto;
  
      .ser_length {
        position: absolute;
  
        left: -1%;
        top: -2%;
  
        h6 {
          color: royalblue;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          // padding: 5px;
          border-radius: 50%;
          background-color: #fff;
        }
      }
      .ser_image {
        flex: 1;
        img {
          width: 80px;
          height: 30px;
          object-fit: cover;
          object-position: center;
        }
      }
      .service_title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 0.6rem;
        }
      }
      .service_summary {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
      }
      .service_price {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        font-weight: 600;
      }
      .actions {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
  
        .edit {
          color: gray;
          font-size: 1rem;
          cursor: pointer;
        }
        .delete {
          color: red;
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }
    @media screen and (max-width: 900px) {
      width: 100%;
      height: 110vh;
      margin: auto;
      overflow: scroll;
      padding: 1rem 0.2rem;
    }
  }